<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <typeAlias type="gong.server_api.domain.dto.HistoryInfoDto" alias="HistoryInfoDto"/>
    </typeAliases>
    <mappers>
        <mapper resource="mappers/history-mapper.xml"/>
    </mappers>
</configuration>