<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<head>
  <meta charset="UTF-8">
  <title></title>
  <link href="/css/styles.css" rel="stylesheet">
</head>

<body>
<div layout:fragment="content">
  <h1>병원 리스트</h1>
  <form action="/book/result" method="GET">
    <div class="form-group">
      <div id="hospital-search-form">
        <label for="stage1">주소(시도): </label>
        <input type="text" size=12 id="stage1" name="stage1" placeholder="서울특별시"><br>
        <label for="stage2">주소(시군구) </label>
        <input type="text" size=10 id="stage2" name="stage2" placeholder="강남구"><br>
        <button type="submit">완료</button>
      </div>
    </div>
  </form>
</div>

</body>

</html>